################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/codetheme/bin
/codetheme/obj
/.vs